*{
    font-family: "Metrophobic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

p{
  margin: 0px;
  color: red;
}

.name{
  display: flex;
  gap:30px

}
.inputbox{
  width: 100%;
  height:40px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  outline: none;
  background-color: transparent;
  
}

.inputbox:focus{
  border-bottom: 2px solid rgb(54, 0, 204);
}

.submitbtn{
  height:40px;
  background-color: white;
  font-size: 17px;
  border:none;
  border: 2px solid silver;
  border-radius: 20px;
  
}
.signup{
   
   padding: 100px;
}

